body {
    font-family: 'Press Start 2P', cursive;
    background-color: #908d8d;
    color: #333;
  } 

.game-container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "left feed orders"
      "footer footer footer";
  
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
  
    height: 100vh;
  }

  header {
    grid-area: header;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

left {
    grid-area: left;
    /* background-color: #ddd; */
    padding: 10px;
}

feed {
    grid-area: feed;
    background-color: #fff;
    padding: 10px;
}

orders {
    grid-area: orders;
    background-color: #ddd;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

.menu-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu {
    height: 100vh;
    align-items: center;
}

.menu button {
    font-family: 'Press Start 2P', cursive; /* Apply the pixel art font */
    font-size: 32px; /* Adjust font size for better readability */
    padding: 10px 20px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 2px 2px 0px #222;
    height: 100px;
}

.menu button:hover {
    background-color: #555;
    box-shadow: 1px 1px 0px #111;
}

/** levels Styles **/

.accept-button, .deny-button {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.accept-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.deny-button {
    background-color: #f44336; /* Red */
    color: white;
}

.accept-button:hover {
    background-color: #45a049;
}

.deny-button:hover {
    background-color: #d32f2f;
}